h1 {
  color: rgb(20, 20, 128);
  background: #aaaaaa;
}

div {
  margin:10px;
  border-style: solid;  
  border-width: 3px;
  border-color: green;
  padding:50px;
  background: lightgray;
}

div div {
  background: lightblue;
  margin-top: 20px;
}

li {
  font-size:50px;
}

div li {
  font-size:14px;
  color: red;
}

div div li {
  font-size:10px;
  color: black;
}

#coolbeans {
  text-decoration: underline;
}

p.centerme {
  text-align: center;
  color: orange;
  font-weight: bold;
}